<include file="Public/header"/>

<div id="emplist" class="layui-body"style="bottom: 0">
    <!-- 内容主体区域 -->
    <div id="box" >
        <div class="b_head">
            <span class="h_span">文津酒店智能客服</span>
        </div>
        <div class="b_body">
            <div class="rotWord">
                <span></span>
                <p>您好，欢迎使用文津酒店智能客服很高兴为您服务！</p>
            </div>
        </div>

        <div class="b_footer">
            <input id="input" type="text" autocoplete="off" />
            <div id="btn" onclick="action()">发送</div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    layui.use(['element', 'layer'], function () {
        var element = layui.element;

    });
    var text = $("#input");
    function action() {
        if (text.val() == "" || text.val == "") {
            text.focus();
            return;
        }
        $(".b_body").append(
            "<div class='myWord'><span></span><p id='me'>" + text.val()
            + "</p></div>")

        $.ajax({
            type : "post",
            url : "{:U('personal/onlineService')}",
            data : {
                "text" : text.val()
            },
            success : function(data) {
                //alert(data);
                var item = data;
                var userObj = eval("(" + item + ")");
                // alert(userObj.text);
                $(".b_body").append(
                    "<div id='s'><span></span><p id='rootchat'>"
                    + userObj.text + "</p></div>")

            }
        });
    }
</script>
</body>
</html>