<include file="Public/header"/>


    <div id="emplist" class="layui-body">
        <!-- 内容主体区域 -->
        <!--<a class="layui-btn" href="{:U('room/add')}">添加房间</a>-->
        <table>
            <caption>房间列表</caption>
            <thead>
            <tr>
            <th>房间号</th>
            <th>房间类型</th>
            <th>价格</th>
            <th>房间信息</th>
            <!--<th>房间图片</th>-->
            <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="rooms" id="room">
                <tr>
                    <td>{$room.rid}</td>
                    <td>{$room.rname}</td>
                    <td>{$room.rprice}</td>
                    <td>{$room.rmsg}</td>
                    <!--<td>{$room.rpicture}</td>-->
                    <!--<td><img src="__PUBLIC__/img/tx1.jpg" alt="" style="width: 100px;height: 50px;background-size: 100% 100%"></td>-->
                    <td>
                        <a href="{:U('room/edit',array('Rid'=>$room['rid']))}" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>编辑</a>
                        <!--<a onclick="redit()" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>编辑</a>-->
                        <!--<a href="{:U('edit',array('Rid'=>$room['rid']))}" onclick="redit()" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>编辑</a>-->
                        <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="showDel('{$room.rname}','{$room.rid}')"><i
                                class="layui-icon"></i>删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <!--分页-->
        <div id="listpage"></div>
    </div>
</div>


<script src="__PUBLIC__/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'layer', 'laypage'], function () {
        // var element = layui.element;
        var laypage = layui.laypage;
        //总页数低于页码总数
        laypage.render({
            elem: 'listpage'
            , count: {$count} //数据总数
            ,limit:5
            ,curr:{$curr}
            ,jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数

                //首次不执行
                if(!first){
                    //do something
                    if(location.href.indexOf('curpage')==-1){
                        location.href='index/curpage/'+obj.curr+'.html';
                    }else{
                        location.href=obj.curr+'.html';
                    }
                }
            }
        });

    });

    // function redit() {
    //     if(location.href.indexOf('curpage')>=0){
    //         location.href='../../edit?Rid={$room.rid}';
    //     }else{
    //         location.href="edit?Rid={$room.rid}";
    //     }
    // }

    function showDel(name, Rid) {
        var layer = layui.layer;

        layer.confirm("确认删除" + name + "?", {
            btn: ['确认', '取消']//按钮
        }, function () {
            // location.href = 'delete?no=' + Eno;
            if(location.href.indexOf('curpage')>=0){
                location.href='../../delete?no={$room.rid}';
            }else{
                location.href='delete?no={$room.rid}';
            }
        });
    }
</script>
</body>
</html>